@import './Theme.less';

.home-page-mobile {
  padding: 0;

  .block1 {
    padding: 0 15px;
  	margin: 2rem 0 2.143rem;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.08;
    -webkit-font-smoothing: antialiased;
    background-color: @background-color;
  }

  .block2 {
    padding: 0 15px;
  }

  .block3 {
    padding: 40px 15px;
    height: 50vh;
    background-color: #23232c;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.08;
  }
}

.home-page-desktop {

  max-width: 1600px;
  
  .block1 {
    //display: flex;
    align-items: center;
    margin-top: 50px;
    min-height: 20vh;
    width: 100%;
    padding: 0;
    font-weight: 600 !important;
    line-height: 1.08 !important;
    font-size: 55px !important;
    max-width: 700px !important;
    margin: 32px auto 0 !important;
    text-align: center !important;
    //text-shadow: 0 1px 4px rgba(0, 0, 0, .6) !important;
  }

  .block2 {
    margin: 50px 100px;
    min-height: 20vh;

    button {
      margin-top: 20px;
    }
  }

  .block3 {
    background-color: #23232c;
    min-height: 50vh;
    min-width: 100%;
    color: #fff;
    line-height: 1.08 !important;
    font-size: 30px !important;
    margin: 32px auto 0 !important;
    text-align: center !important;
    padding: 100px 50px;
    align-items: center;
    max-width: 700px !important;
  }
  
}
    