@import './Theme.less';

.home-page-mobile {
  .block1 {
  	margin: 2rem 0 2.143rem;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.08;
    -webkit-font-smoothing: antialiased;
    background-color: @background-color;
  }
}