.lead-purchase-screen {
	margin: 20px auto;
	align-items: center !important;

	h1 {
		font-size: 24px;
    	text-align: center;
	}

	p {text-align: center;}

	.hide-header {
		display: none;
	}

	.label {
		float: left;
		padding: 5px 0px;	
	}
	.value {
		padding: 5px 10px;	
		float: right;
		font-weight: 500 !important;
	}
	.lead-price {
		height: 35px;
		.label {
			padding: 15px 5px 0px;
		}
		.value {
			font-size: 29px !important;
    		font-weight: 600 !important;
		}
	}
	.lead-delivery-form {
		margin: 25px 5px 0px;

		.purchase {
			margin: 20px 0 0;
		}
	}

	.lead-sold-show {
		padding: 50px 0;
		display: block;
	}

	.lead-sold-hide {
		display: none;
	}

	.show-spinner {
		padding: 50px 0;
		display: block;
		text-align: center;
		.spinner-grow {
			color: #6b3299;
		}
	}

	.hide-spinner {
		display: none;
	}
}